body{
    background-color: white;
}
.main-form-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}
hr{
    width: 100%;
    border: none;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 101, 204, 0.75), rgba(0, 0, 0, 0));
}
.titulo-seccion{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    background-color: #0065CC;
    padding: .9rem;
    color: whitesmoke;
    width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
}

.header img{
    width: 40%;
    margin: auto 0;
}
.row{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.row-header{
    padding: 1rem;
    font-size: 18px;
    font-weight: 700;
    width: 15%;
}
.generales-div{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    margin: auto 0;
}

.solicitud-div{
    width: 85%;
    display: flex;
    flex-direction: row;
    margin: auto 0;
    font-size: 18px;
}

.solicitud-div select{
    padding: 5px;
    font-size: 14px;
}

.tiempo-div{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    margin: auto 0;
}

.tiempo-div select{
    padding: 5px;
    font-size: 14px;
}

.Temporal{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Permanente{
    display: none;
}

.row-item{
    display: flex;
    flex-direction: row;
}

.apps-div{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    margin: auto 0;
    width: 100%;
}
.apps-list{
    width: 30%;
}
.case{
    margin-top: 0;
}
.apps-div-casos{
    width:70%;
}
.apps-item{
    margin-bottom: 10px;
}
.req-div{
    margin-left: 10%;
}
.req-div div{
    margin-bottom: 10px;
}

.usuarios-div{
    width: 100%;
    font-size: 18px;
    margin: auto 0 ;
    display: flex;
    flex-direction: column ;
}
.usuarios-div div{
    margin-bottom: 10px;
}

.auth-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
    margin: auto 0;
}

.boton{
    margin: 1rem auto;
    padding: 20px;
    background-color: #0065CC;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 10px;
    text-decoration: none;
}
.error-message{
    color: darkred;
    text-align: center;
}

.required{
    color: darkred;
}